/*==========================================================================
Main Page
==========================================================================*/

.ReactApp {
  width: 100vw;
  height: 100%;
}

main {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}


/*==========================================================================
Header
==========================================================================*/

.page-title {
  width: 100%;

  margin: 0;
  padding: 10px 0;
  text-align: center;
  background-image: linear-gradient(#5a6dff, #72c7ff 80%);
  color: white;
  font-family: 'Staatliches', cursive;
  letter-spacing: 5px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.page-title-2 {
  width: 100%;
  max-width: 550px;
  margin: 0 auto 0 auto;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #aaa;
  background-image: linear-gradient(#5a6dff, #72c7ff 80%);
  color: white;
  font-family: 'Staatliches', cursive;
  letter-spacing: 5px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

@media screen and (min-width: 900px) {
  .page-title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .page-title {
    font-size: 4rem;
  }
}

header {
  width: inherit;
}

.imgborder {
   display:inline-block;
   position:relative;
   border:1px solid #ccc;
   padding:5px;
   background:#f2f2f2;
   margin-bottom:10px;
   -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}

.imgborder-2 {
   display: block;
   position:relative;
   border:1px solid #ccc;
   padding:5px;
   margin: 10px auto 0 auto;
   width: calc(100% - 30px);
   /*background:#f2f2f2;*/
   background-image: linear-gradient(#ddd, #888);
   margin-bottom:10px;
   -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}

.image-gallery-slide-wrapper {
  border: 1px solid #999;
}

.image-gallery-thumbnails-container > a {
  border: 1px solid #999;
}

.header-img {
  width: 100%;
  border: 1px solid #aaa;
}

.st0 {
  fill:none;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}

.st1 {
  fill:#71CEE8;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}

.st2 {
  fill:#A1D07C;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}

.st3 {
  fill:#3BA348;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}

.st4 {
  fill:#050606;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}

.st5 {
  fill:#070808;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}

.st6 {
  fill:#FAEE52;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}

#Layer_1 {
  border: 2px solid black;
}

/*==========================================================================
Toolbar
==========================================================================*/

nav {
  width: 100%;
}

.toolbar {
  width: 100%;
  height: 60px;
  background-image: linear-gradient(#bbb, #555);
  margin: 8px 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
   -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
   box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}

.search-box {
  height: 40px;
  margin: 0 10px 10px auto;
  padding-left: 10px;
  flex-grow: 1;
  flex-basis: calc(100vw - 75px);
  max-width: 550px;
}

.search-input {
  margin-top: 5px;
  height: 100%;
}

.search-input input {
  font-family: 'Exo', sans-serif;
  letter-spacing: 1px;
  padding-left: 10px;
  font-size: 1.2em;
  height: 100%;
  width: 100%;
  max-width: 550px;
  box-shadow: 1px 1px 5px #555 inset;
  outline: none;
}

.filter-div {
  width: 70px;
  margin: 0 auto 0 10px;
}

.filter-btn {
  height: 45px;
  width: 45px;
  border-radius: 4px 0 0 4px;
  outline: none;
  cursor: pointer;
}

.drop-btn {
  height: 45px;
  width: 20px;
  padding: 4px;
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #777;
  outline: none;
  cursor: pointer;
}

.filter-btn:hover,
.drop-btn:hover {
  background-image: linear-gradient(#eee, #bbb);
}

.pressed {
  border-top: 2px solid #aaa;
  border-left: 2px solid #aaa;
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
  background-image: linear-gradient(#d8f7c3, #ceebb4);
}

.pressed-2 {
  border-top: 2px solid #aaa;
  border-left: 2px solid #aaa;
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
  background-image: linear-gradient(#d8f7c3, #ceebb4);
  padding-top: 4px;
  padding-left: 7px;
}

.filter-icon {
  width: 100%;
}

.filter-icon-arrow {
  width: 100%;
}

.dropdown-content {
  position: absolute;
  display: inline-block;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-image: linear-gradient(#f1f1f1, #ddd);
  border: 1px solid #444;
  border-radius: 0 5px 5px 5px;
  min-width: 150px;
  z-index: 1;
  margin-left: -45px;
  -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
   -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
   box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}

.show {
  display: block;
}

.dropdown-list > ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.filter-li {
  width: 100%;
  padding: 3px 5px;
  margin: 2px 0;
  font-family: arial;
  font-weight: bold;
  cursor: pointer;
}

.filter-li:hover {
  background-color: rgba(56, 151, 219, .3);
}

.li-highlight {
  background-color: rgba(56, 151, 219, .5);
}

/*
.toolbar input {
  height: 40px;
  width: 75vw;
  max-width: 500px;
  margin-left: auto;
  margin-right: 10px;
}

.filter {
  height: 44px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  display: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}

.filter-1 {
  width: 25px;
  height: 23px;
}

.filter-2 {
  width: 10px;
  height: 8px;
  margin-top: 5px;
}

.search {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 5px;
}

.search img {
  width: 28px;
  height: 28px;
}
*/

/*==========================================================================
Catalog
==========================================================================*/

ul {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1460px) {
  ul {
    padding: 0;
  }
}

.page-footer {
  width: 100%;
  max-width: 1440px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #777;
  border-radius: 3px 3px 0 0;
  background-image: linear-gradient(#ddd, #777);
  position: fixed;
  bottom: 0;
  font-family: 'Exo', cursive;
}

.page-footer-2 {
  border-top: 1px solid #999;
  background-image: linear-gradient(#ddd, #888);
  margin: 0 auto 0 auto;
  width: 100%;
  font-family: 'Exo', cursive;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 550px;
}

.catalog-div {
  margin-bottom: 60px;
}
/*==========================================================================
Articles
==========================================================================*/

article {
  background-image: radial-gradient(ellipse at bottom right, #7ec7e6, #c0eaff 18%, black 18%, transparent 19%),
    linear-gradient(#eee, #ccc);
  width: 100%;
  margin-bottom: 15px;
  display: grid;
  border-radius: 2px;
  grid-template-columns: minmax(150px, min-content) auto;
  grid-template-rows: min-content min-content;
  cursor: pointer;
  -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
   -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
   box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}

@media screen and (min-width: 970px) {
  article {
    width: calc((100vw - 30px) / 2);
    max-width: 705px;
  }

  ul.catalog article:nth-child(2n + 1) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1460px) {
  article {
    width: 473px;
  }

  ul.catalog article {
    margin-right: 10px;
  }

  ul.catalog article:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.imgborder-3 {
   display:inline-block;
   position:relative;
   border:1px solid #ccc;
   padding:4px;
   background:#f2f2f2;
   margin: 10px;
   grid-column: 1 / 2;
   grid-row: 1 / 2;
}

.card-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

article > .imgborder-3 > img {
  width: 30vw;
  min-width: 120px;
  max-width: 180px;
  border: 1px solid #aaa;
}

article h4 {
  font-size: 1.1em;
  font-family: 'Exo', cursive;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  margin: 10px 0 0 0;
  height: 25px;
  grid-column: 2 / 10;
  grid-row: 1 / 2;
}

article p.description {
  margin: 0;
  font-size: .8rem;
  font-family: arial;
  line-height: 16px;
  padding: 7px 15px 15px 5px;
  grid-column: 2 / 10;
  grid-row: 2 / 3;
}

article p.price {
  font-size: .9rem;
  margin: auto 8px 5px 0;
  padding: 0;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  grid-column: 7 / 10;
  grid-row: 3 / 4;
  align-self: flex-end;
}

@media screen and (min-width: 480px) {
  article p.price {
    margin-right: 15px;
  }
}

@media screen and (min-width: 525px) {
  article p.price {
    margin-right: 27px;
  }
}

@media screen and (min-width: 970px) {
  article p.price {
    margin-right: 15px;
  }
}

article button {
  margin: 5px 5px 0 0;
  padding: 0;
  font-size: .8em;
  width: 90px;
  height: 20px;
  justify-self: end;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

/*==========================================================================
Detail
==========================================================================*/

.detail-wrapper {
  background-color: #eee;
  height: 100%;
  min-height: 100vh;
}

section.detail-section {
  background-color: white;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, min-content) minmax(100px, min-content) repeat(3, min-content) auto;
  max-width: 550px;
  margin: 0 auto;
}

section > button.detail {
  grid-column: 1 / 13;
  height: 40px;
  font-size: 1.2em;
  margin: 5px;
  width: calc(100% - 10px);
  cursor: pointer;
  font-family: 'Exo', sans-serif;
}

section h1.detail {
  margin: 10px 0 10px 25px;
  grid-column: 1 / 10;
  grid-row: 2 / 3;
  font-family: 'Exo', sans-serif;
}

.price {
  margin: 15px 25px 0 0;
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
  grid-column: 10 / 13;
  grid-row: 2 / 3;
}

.bid {
  /*grid-column: 2 / 10;
  grid-row: 3 / 4;
  width: 100%;*/
  height: 24px;
  /*background-color: yellow;
  border-top: 1px solid black;
  border-bottom: 1px solid black;*/
  margin: 0;
  margin-left: 20px;
  padding-top: 4px;
  text-align: center;
  font-weight: bold;
}

.style-block {
  height: 30px;
  width: 100%;
  grid-column: 1 / 13;
  grid-row: 3 / 4;
  background-color: yellow;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.offerBtn {
  grid-column: 10 / 13;
  grid-row: 3 / 4;
  margin-top: 1px;
  margin-right: 20px;
  /*background-color: yellow;*/
  /*border-top: 1px solid black;
  border-bottom: 1px solid black;*/
  /*width: 100%;*/
}

.offerBtn .modal-section {
  display: flex;
}

.offerBtn .modal-section input {
  margin-left: auto;
  margin-right: 11px;
}

.offer-btn {
  margin: 2px 0;
  margin-left: auto;
  cursor: pointer;
  font-family: 'Exo', sans-serif;
}

.gallery-wrapper {
  width: 100%;
  grid-column: 1 / 13;
  grid-row: 4 / 5;
}

.description {
  grid-column: 1 / 13;
  margin: 10px 25px 15px 25px;
}

.appointmentBtn {
  grid-column: 1 / 13;
  grid-row: 6 / 7;
  height: 40px;
  font-size: 1.2em;
}

.appointmentBtn .modal-section input.offer-btn {
  width: 100%;
  height: 40px;
}

.question {
  grid-column: 1 / 13;
  grid-row: 7 / 8;
  margin: 0;
  padding: 0 25px;
  margin-top: 25px;
  text-align: center;
}

.question-2 {
  grid-column: 1 / 13;
  grid-row: 8 / 9;
  margin: 0;
  margin-top: 5px;
  padding: 0 25px;
  text-align: center;
}

.textarea-form-control {
  width: calc(100% - 26px);
  margin: 10px;
  border: 1px solid black;
}

.q-and-a-div {
  grid-column: 1 / 13;
  grid-row: 9 / 10;
  margin-bottom: 60px;
}

.question-div {
  width: 85%;
  margin: 15px 0 0 5px;
  background-color: #afd181;
}

.question-p {
  margin: 0;
  padding: 10px;
}

.question-date {
  margin: 0;
  padding: 0 10px 10px 0;
  text-align: right;
}

.answer-div {
  width: 85%;
  margin: 5px 5px 0 auto;
  background-color: #e8ce9b;
}

.answer-p {
  margin: 0;
  padding: 10px;
}

.answer-name {
  margin: 0;
  padding: 0 10px 0 0;
  text-align: right;
}

.answer-date {
  margin: 0;
  padding: 0 10px 10px 0;
  text-align: right;
}

.question-2 > button {
  cursor: pointer;
}

.bid-num {
  font-size: 1.2rem;
  color: red;
}

@media screen and (min-width: 590px) {
  section button.detail {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }

  section h1.detail {
    margin-left: 35px;
  }

  .price {
    margin-right: 35px;
  }

  .style-block {
    width: calc(100% - 40px);
    margin-left: 20px;
  }

  .offerBtn {
    margin-right: 20px;
  }

  .gallery-wrapper {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }

  .description {
    margin-left: 20px;
    margin-right: 20px;
  }

  .appointmentBtn .modal-section input.offer-btn {
    width: calc(100% - 40px);
    margin-left: 20px;
  }

  .question-div {
    margin-left: 20px;
  }

  .answer-div {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .page-title-2 {
    max-width: 1100px;
  }

  section > button.detail {
    height: 30px;
    font-size: 1.1em;
    margin-top: 10px;
  }

  section.detail-section {
    grid-template-rows: 65px min-content 30px repeat(5, min-content) auto;
    max-width: 1100px;
  }

  section button.detail {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  section h1.detail {
    margin: 10px 0 10px 15px;
    grid-column: 7 / 11;
    grid-row: 2 / 4;
  }

  .price {
    margin-right: 40px;
    text-align: right;
    grid-column: 11 / 13;
    grid-row: 2 / 4;
  }

  .style-block {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
  }

  .bid {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
  }

  .offerBtn {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
  }

  .description {
    grid-column: 7 / 13;
    grid-row: 4 / 6;
  }

  .gallery-wrapper {
    grid-column: 1 / 7;
    grid-row: 3 / 5;
  }

  .appointmentBtn {
    grid-column: 10 / 13;
    grid-row: 1 / 2;
  }

  .appointmentBtn .modal-section input.offer-btn {
    width: calc(100% - 20px);
    margin: 0 20px 0 0;
    margin-top: 10px;
    height: 30px;
    font-size: 1.1rem;
  }

  .page-footer-2 {
    max-width: 1100px;
  }
}

/*==========================================================================
Modal
==========================================================================*/

section.modal-section > div > div > div:first-child {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  max-width: 414px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: 0;
}

.modal-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 75px min-content auto;
}

.modal-container button.close-btn {
  grid-column: 9 / 13;
  grid-row: 1 / 2;
}

.modal-container h1 {
  grid-column: 1 / 13;
  grid-row: 2 / 3;
  text-align: center;
  font-size: 29px;
}

.modal-container p {
  grid-column: 2 / 12;
  grid-row: 3 / 4;
  margin-bottom: 40px;
}

.modal-container form {
  grid-column: 2 / 12;
  grid-row: 4 / 5;
}

.close-btn {
  background-color: none;
  border: none;
  margin: 15px 20px 0 auto;
  width: 24px;
  height: 24px;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}

form.modal label {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

form.modal input {
  font-size: 16px;
  display: block;
  width: 100%;
  margin-bottom: 12px;
  height: 22px;
  margin-right: 0;
}

.react-datepicker-wrapper {
  width: 48%;
}

.react-datepicker__input-container {
  width: 100%;
}

.flex-div {
  display: flex;
  justify-content: space-between;
}

#appointment {
  font-size: 16px;
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
  height: 22px;
  margin-right: 0;
}

#time {
  font-size: 16px;
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
  height: 22px;
  margin-right: 0;
}

form.modal select {
  margin-bottom: 12px;
  width: 150px;
  font-size: 18px;
}

form.modal button.sub-btn {
  margin-top: 10px;
  float: right;
  width: 100px;
  height: 40px;
  font-size: 18px;
}

.appointmentBtn {
  margin: 0 5px;
}

/*==========================================================================
Dashboard
==========================================================================*/

.dashboard-wrapper {
  background-image: linear-gradient(#7bd1e6, #3b95ab);
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.dashboard {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(#7bd1e6, #3b95ab);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content min-content auto;
}

.dashboard-title {
  margin: 10px 0 10px 0;
  height: 35px;
  grid-column: 1 / 13;
  text-align: center;
  font-family: 'Exo', sans-serif;;
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 4px 4px #555;
	letter-spacing: 3px;
}

.log-out-btn {
  display: block;
  width: calc(100% - 20px);
  height: 36px;
  margin: 15px 10px 0 10px;
  text-align: center;
  font-size: 18px;
  grid-column: 1 / 13;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
  letter-spacing: 1px;
  color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(232, 32, 5, 0.4) 0 0px 0px 2px inset;
}

.log-out-btn:hover {
  color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(255, 0, 0, 0.7) 0 80px 0px 2px inset;
}

.dashboard-left {
  grid-column: 1 / 13;
  margin: 0;
  padding: 0;
}

.dashboard-right {
  grid-column: 1 / 13;
  margin: 0;
  padding: 0;
  height: 950px;
  max-height: 75vh;
}

.dashboard-categories {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.dashboard-categories > li {
  display: block;
  width: calc(100% - 20px);
  height: 36px;
  margin: 0 10px 5px 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.li-btn {
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
  letter-spacing: 1px;
  color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.dashboard-categories > li.active > .li-btn {
  color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

.li-btn:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

@media screen and (min-width: 940px) {

  .dashboard {
    background-image: linear-gradient(#eee, #777);
    grid-template-rows: min-content min-content auto;
    /*box-shadow: rgba(30, 22, 54, 0.4);*/
  }

  .dashboard-title {
    margin: 20px 15px 30px 15px;
    grid-column: 5 / 9;
    padding-bottom: 15px;
    font-size: 4;
    letter-spacing: 4px;
    color: rgba(61, 61, 57);
  }

  .log-out-btn {
    grid-column: 10 / 13;
    height: 36px;
    text-align: center;
    font-weight: bold;
    font-family: 'Exo', sans-serif;
    letter-spacing: 1px;
    margin: 33px 50px 10px auto;
    width: 125px;
    height: 35px;
    text-decoration: none;
    border-radius: 4px;
    color: rgba(61, 61, 57);
    box-shadow: rgba(204, 207, 196) 0 0px 0px 1px inset;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  }

  .log-out-btn:hover {
    color: rgba(255, 255, 255, 0.85);
  	box-shadow: rgba(255, 0, 0, 0.7) 0 80px 0px 2px inset;
  }

  .dashboard-left {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    margin: 0 13px 0 26px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 0 10px #000000;
  }

  .dashboard-right {
    grid-column: 5 / 13;
    grid-row: 2 / 3;
    margin: 0 26px 0 13px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 0 10px #000000;
  }

  .dashboard-categories {
    width: calc(100% - 26px);
    padding: 0 13px;
    margin-top: 23px;
  }
}


/*==========================================================================
User Manage
==========================================================================*/

.user-block {
  height: 100%;
  max-height: calc(100% - 20px);
  width: 100%;
  margin: 0;
  padding: 0;
}

.user-controls {
  width: calc(100% - 30px);
  background-image: linear-gradient(#eee, #ddd);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 2px solid #666;
  margin: 10px 10px 4px 10px;
  justify-content: flex-start;
  padding: 0 5px;
}

.user-control-btn {
  margin: 10px 5px 10px 5px;
  width: calc((100% - 30px)/3);
  font-family: 'Exo', sans-serif;
  max-width: 125px;
  height: 35px;
  text-decoration: none;
  border-radius: 4px;
  color: rgba(61, 61, 57);
  box-shadow: rgba(204, 207, 196) 0 0px 0px 1px inset;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

.user-control-btn-dis {
  margin: 10px 5px 10px 5px;
  width: calc((100% - 30px)/3);
  font-family: 'Exo', sans-serif;
  max-width: 125px;
  height: 35px;
  text-decoration: none;
  border-radius: 4px;
  /*color: rgba(61, 61, 57);
  box-shadow: rgba(204, 207, 196) 0 0px 0px 1px inset;*/
  cursor: pointer;
  font-size: 1.1rem;
  /*transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);*/
}

.user-create {

}

.user-create:hover,
.user-edit:hover {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(40, 191, 34, 0.7) 0 80px 0px 2px inset;
}

.user-edit {
}


.user-delete:hover {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(255, 0, 0, 0.7) 0 80px 0px 2px inset;
}

.user-list {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.user-list > tr:nth-child(odd) {
  background-color: #afd2ff;
}

.user-list > tr:nth-child(even) {
  background-color: #e0ecff;
}

.user-list-wrapper {
  width: calc(100% - 20px);
  border: 2px solid #666;
  background-image: linear-gradient(#ddd, #bbb);
  margin: 0 10px 10px 10px;
  padding: 0;
  height: calc(100% - 86px);
  /*max-height: calc(100% - 86px);*/
  overflow-y: auto;
  /*background: repeating-linear-gradient(
    180deg,
    #94bfff,
    #94bfff 22px,
    #5790e6 22px,
    #5790e6 44px
  );*/

}

li.active {
  background-color: #999;
}

tbody > tr:nth-child(odd) {
  background-color: rgba(30, 22, 54, .4);
}

tbody > tr:nth-child(even) {
  /*background-color: rgba(30, 22, 54, .2);*/
}

td {
  font-family: arial;
  font-size: 1.1rem;
  height: 22px;
}

@media screen and (min-width: 940px) {
  .user-controls {
    border: none;
    border-bottom: 2px solid #666;
    background-image: none;
    width: calc(100% - 50px);
    margin: 15px 20px 4px 20px;
    padding: 0 5px 10px 0;
  }

  .user-list-wrapper {
    width: calc(100% - 40px);
    border: none;
    padding-top: 10px;
    background-image: none;
    margin: 0 20px 20px 20px;
  }

  tbody > tr:nth-child(odd) {
    background-color: rgba(30, 22, 54, .4);
  }

  tbody > tr:nth-child(even) {
    background-color: rgba(30, 22, 54, .2);
  }

  td {
    font-family: arial;
    font-size: .9rem;
    height: 18px;
  }
}



tbody > tr.active {
  background-color: #b8f5f2;
  outline: 2px solid #81ebe4;
}

.user-modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.user-modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #888;
  width: 80%;
  max-width: 450px;
  position: relative;
}

.centered {
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-height: 540px) {
  .centered {
    top: 0;
    transform: translateY(0%);
    margin-top: 15px;
  }
}

.non-centered {
  margin-top: 15px;
}

.user-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.user-modal-close:hover,
.user-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.table-header {
  cursor: pointer;
}

/*==========================================================================
Login
==========================================================================*/

.login-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #aaa;
  overflow: auto;
}

.login-form {
  background-color: white;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  position: relative;
}

.login-title {
  margin: 0 auto 30px auto;
  width: 100%;
  text-align: center;
}

.login-form-control {
  width: calc(100% - 20px);
  margin: 10px;
}

.mt-1 {
  margin-top: 20px;
}

/*==========================================================================
Edit
==========================================================================*/

.App {
  width: 100%;
}

.test-wrapper {
  width: 100vw;
  height: 100vh;
}

/*==========================================================================
Page
==========================================================================*/

.page-block {
  width: 100%;
  height: 100%;
  max-height: calc(100% - 20px);
  margin: 0;
  padding: 0;
}

.page-list-wrapper {
  width: calc(100% - 20px);
  margin: 20px 10px 10px 10px;
  padding: 0;
  height: auto;
  max-height: calc(100% - 10px);
  overflow-y: auto;
  /*background: repeating-linear-gradient(
    180deg,
    #94bfff,
    #94bfff 22px,
    #5790e6 22px,
    #5790e6 44px
  );*/
}

#Layer_10 {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 940px) {
  .page-list-wrapper {
    width: calc(100% - 40px);
    margin: 20px;
  }
}

.st10 {
  fill: white;
  stroke:#000000;
  stroke-miterlimit:10;
  z-index: 105;
}

.st11 {
  fill: white;
  stroke:#000000;
  stroke-width:0.5;
  stroke-miterlimit:10;
}

.st12 {
  fill:#020202;
  stroke:#000000;
  stroke-miterlimit:10;
}

.st13 {
  fill: white;
}

.svg-page,
.svg-pagination {
  fill: #eee;
}

.svg-pointer {
  cursor: pointer;
}

.svg-title:hover,
.svg-main-img:hover,
.svg-search:hover,
.svg-pagination:hover,
.svg-footer:hover {
  fill: #ccc;
  cursor: pointer;
}

.highlighter {
  fill: #ccc;
}

.disp-blk {
  display: block;
  margin-top: 20px;
  margin-bottom: 0px;
}

.checkbox {
  margin-left: 120px;
}

.form-grid {
  display: grid;
}

.col-1 {
  grid-template-columns: 250px auto;
}

.col-2 {
  grid-template-columns: 230px auto;
}

.col-3 {
  grid-template-rows: repeat(11, min-content);
}

.col-4 {
  grid-template-rows: repeat(11, min-content);
}

.form-grid > h1 {
  grid-column: 1 / 3;
}

.form-grid > .checkbox {
  margin: 13px 0 0 0;
}

.form-grid > h4 {
  grid-column: 1 / 3;
  margin: 20px 0 10px 0;
}

.form-grid > select {
  width: 50px;
}

.form-grid > button,
.form-grid > input[type='text'],
.form-grid > textarea,
.form-grid > ul,
.form-grid > .App {
  grid-column: 1 / 3;
}

.form-grid > ul {
  padding: 10px;
  width: calc(100% - 40px);
  list-style: none;
  border: 1px solid black;
  margin-top: 0;
}

.form-grid > ul > li {
  width: 100%;
  margin: 2px 5px;
}

.img-ul {
  padding: 10px;
  width: calc(100% - 40px);
  list-style: none;
  border: 1px solid black;
  margin-top: 10px;
}

.img-ul > li {
  width: 100%;
  margin: 2px 5px;
}
/*
div.login-form-control {
  overflow: visible;
}
*/
.page-image-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.current-img {
  width: 100%;
  margin-bottom: 20px;
}

.secondary-modal {
  display: none;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.85);
}

.secondary-modal-content {
  background-color: #fefefe;
  margin: 15px auto 0 auto;
  padding: 15px;
  border: 1px solid #888;
  width: 80%;
  max-width: 450px;
  position: relative;
}

.secondary-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.secondary-modal-close:hover,
.secondary-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.img-save-btn {
  width: calc(100% - 20px);
  margin: 15px 10px 10px 10px;
}

.small-btn {
  width: 150px;
  margin: 5px 0 15px 10px;
}

.form-label,
.form-input {
  grid-column: 1 / 3;
  /*width: calc(100% - 30px);*/
}

.a2 {
  width: calc(100% - 30px);
}
/*==========================================================================
Content
==========================================================================*/

li.img-box {
  display: flex;
  justify-content: space-between;
}

p.img-box,
button.img-box {
  display: inline-block;
  margin: 0;
}

.App > .ReactCrop--fixed-aspect {
  display: inline-block;
  width: auto;
}
/*==========================================================================
Login
==========================================================================*/

.init-login-wrapper {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(#7bd1e6, #3b95ab);
  overflow: auto;
}

.init-login-form {
  margin: 0 auto;
  margin-top: 15%;
  background-image: linear-gradient(#eee, #bbb);
  width: 98vw;
  overflow: auto;
  border-radius: 4px;
  max-width: 500px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media screen and (max-height: 500px) {
  .init-login-form {
    margin-top: 15px;
  }
}

.init-login-title {
  margin: 0 25px 20px 25px;
  padding-top: 25px;
  font-family: 'Exo', sans-serif;
  font-size: 1.3rem;
}

.init-login-form-control {
  display: block;
  margin: 0 25px 0 25px;
}

label.init-login-form-control {
  padding-bottom: 3px;
  font-family: 'Exo', sans-serif;
  font-size: 1rem;
  margin-left: 35px;
}

input.init-login-form-control {
  font-family: arial;
  margin-bottom: 10px;
  height: 30px;
  width: calc(100% - 64px);
  border-radius: 4px;
  line-height: 30px;
  font-size: 1.1rem;
  padding-left: 8px;
}

input.init-login-form-control:hover {
  background-color: rgba(80, 169, 237, .2);
}

.init-login-hr,
.init-login-hr-2 {
  margin-left: 15px;
  margin-right: 15px;
}

.init-login-hr-2 {
  margin-top: 15px;
}

.init-login-btn {
  /*-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);*/
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  font-family: 'Exo', sans-serif;
  font-size: 1.1rem;
	margin: 15px 25px 15px auto;
	width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 5px 30px;
  color: rgba(61, 61, 57);
	box-shadow: rgba(204, 207, 196) 0 0px 0px 1px inset;
  cursor: pointer;
}

.init-login-btn:hover {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(40, 191, 34, 0.7) 0 80px 0px 2px inset;
}

.init-register {
  margin: 0 25px 5px 35px;
  font-size: .9rem;
}

.init-login-register-btn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #0000ee;
  outline: none;
}

.init-login-register-btn:active {
  border: none;
  outline: none;
  cursor: pointer;
  color: red;
}

.init-login-modal,
.init-message-modal {
  display: none;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}

.init-message-modal {
  z-index: 100;
}

.init-login-modal-content,
.init-message-modal-content {
  background-image: linear-gradient(#eee, #bbb);
  margin: 15% auto 0 auto;
  padding: 0;
  border: 1px solid #888;
  width: calc(98vw - 2px);
  max-width: 500px;
}

.init-login-modal-content {
  margin-top: 3%;
}

.init-message-modal-content {
  margin: 20% auto 0 auto;
  width: calc(98vw - 2px);
  max-width: 750px;
}

.success {
  background-image: linear-gradient(rgba(137, 255, 78, .8), rgba(168, 255, 128, .9));
}

.fail {
  background-image: linear-gradient(rgba(255, 124, 109, .8), rgba(255, 75, 59, .9));
}

.init-message-title {
  margin: 0 25px 20px 25px;
  padding-top: 25px;
  font-family: 'Exo', sans-serif;
  font-size: 1.3rem;
  display: block;
  text-align: center;
}

.init-message-form-control {
  display: block;
  margin: 0 25px 25px 25px;
  font-size: 1.1rem;
  text-align: center;
}

.init-login-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 10px 25px 0 auto;
}

.init-login-modal-close:hover,
.init-login-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.invalid-feedback,
.c-pass {
  color: red;
  font-weight: bold;
  margin: -8px 35px 30px 35px;
}

.c-pass,
.phone-val,
.email-val {
  margin-top: 0;
}

/*==========================================================================
Pagination
==========================================================================*/

.pagination-wrapper {
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.pagination-btn-list {
  grid-column: 1 / 13;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-top: 5px;
}

.page-btn-container > li {
  margin: 5px;
}

.page-btn-container > li > button {
  padding: 0;
  width: 20px;
  height: 35px;
  border-radius: 4px;
  outline: none;
  text-align: center;
}

.page-btn-container > li > button.btn-wide {
  width: 26px;
}

.page-btn-active {
  background-image: linear-gradient(#72c7ff, #7d81ff)
}

.page-btn-blank {
  background-color: transparent;
  border: none;
  padding-bottom: 10px;
}

.pagination-select {
  grid-column: 11 / 13;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#change-select {
  width: 50px;
  height: 35px;
}

@media screen and (min-width: 750px) {
  .pagination-wrapper {
    height: 80px;
  }

  .pagination-btn-list {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
  }

  /*.pagination-select {
    grid-column: 11 / 13;
    grid-row: 1 / 2;
  }*/

  .page-btn-container {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 970px) {
  .page-btn-container > li > button {
    width: 30px;
    height: 40px;
  }

  .page-btn-container > li > button.btn-wide {
    width: 35px;
  }
}

/*==========================================================================
Initialize
==========================================================================*/

.initialize-page-wrapper {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(#7bd1e6, #3b95ab);

  margin: 0;
  padding: 0;
}

.initialize-content-wrapper {
  background-image: linear-gradient(#eee, #bbb);
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: auto;
}

.initial-title {
  color: #69c6ff;
  height: auto;
}

.initialize-content-message {
  grid-column: 1 / 2;
}

.initialize-form {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: auto;
}

.initialize-message-1 {
  margin: 40px 35px;
}

.initialize-message-2 {
  margin: 0 35px 18px 35px;
  padding: 3px;
  border: 1px solid #777;
  background-color: #ccc;
}

.initialize-btn {
  width: calc(100% - 40px);
  height: 35px;
  margin: 15px 20px;
}

.bottom-btn {
  margin-bottom: 30px;
}

.init-form-group-grid {
  display: grid;
  grid-template-columns: 220px 50px auto;
}

.ifgg-p {
  grid-column: 1 / 4;
}

.ifgg-l {
  grid-column: 1 / 2;
}

.ifgg-i {
  grid-column: 2 / 3;
  margin-top: 0;
}

.ifgg-s {
  grid-column: 1 / 4;
}

.exp-show {
  display: none;
}

@media screen and (min-width: 901px) {
  .initialize-content-wrapper {
    max-width: 900px;
  }

  .initialize-form {
    grid-template-columns: 450px 1px 450px;
  }

  .initialize-user {
    grid-column: 1 / 2;
  }

  .initialize-separator {
    grid-column: 2 / 3;
    height: 100%;
    border-left: 1px solid #aaa;
  }

  .initialize-page {
    grid-column: 3 / 4;
  }

  .initialize-submit {
    grid-column: 1 / 4;
  }

  .exp-hide {
    display: none;
  }

  .exp-show {
    display: block;
  }

  .mt-exp {
    margin-top: 25px;
  }
}
