/*==========================================================================
Main Page
==========================================================================*/

.App {
  width: 100vw;
}

main {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}


/*==========================================================================
Header
==========================================================================*/

header {
  width: inherit;
}

.st0 {
  fill:none;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}
.st1 {
  fill:#71CEE8;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}
.st2 {
  fill:#A1D07C;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}
.st3 {
  fill:#3BA348;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}
.st4 {
  fill:#050606;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}
.st5 {
  fill:#070808;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}
.st6 {
  fill:#FAEE52;
  stroke:#0D0D0D;
  stroke-width:0.2;
  stroke-miterlimit:10;
}

#Layer_1 {
  border: 2px solid black;
}

/*==========================================================================
==========================================================================*/
/*==========================================================================
==========================================================================*/
/*==========================================================================
==========================================================================*/
/*==========================================================================
==========================================================================*/
/*==========================================================================
==========================================================================*/
